/* @import "../../../scss/switch3D"; */
/* ::ng-deep nav {
  background-color: #f5f5f5 !important;
} */
.header-holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 20px 0px #d4d4d4;
  padding: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  .divisor {
    width: 0.2em;
    background: #e9e9e9;
    margin: 0 2em;
    height: 100%;
  }
  .icon-holder {
    height: 3em;
    width: 3em;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    border-width: 0px;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.6),
      0 4px 15px 0 rgba(0, 0, 0, 0.45);
    &.icon-holder-logo-btn {
      transform: rotate(-90deg);
      background-color: #ea5b35;
      color: white;
    }
    &.icon-holder-shield-btn {
      background-color: white;
      color: black;
    }
    &.icon-holder-user-btn {
      background-color: #ea5b35;
      color: white;
    }
  }
  .header-left-container {
    width: 100%;
    display: flex;
    .header-left-input {
      margin: 0;
    }
  }
  .header-right-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .header-right-add-user-btn {
      background-color: #d83367;
      color: white;
      border-radius: 0.4rem;
    }
    .header-right-icon {
      color: #666666;
      margin: 0 2px;
      font-size: 2rem;
    }
  }
}
