<div class="header-holder" *ngIf="!isMobile">
  <div class="header-left-container">
    <div
      class="icon-holder mask waves-effect icon-holder-logo-btn"
      mdbWavesEffect
    >
      <mdb-icon fas icon="align-left"></mdb-icon>
    </div>
    <div class="divisor"></div>
    <div
      class="icon-holder mask waves-effect icon-holder-shield-btn"
      mdbWavesEffect
    >
      <mdb-icon class="" fas icon="shield-alt"></mdb-icon>
    </div>
    <div
      class="icon-holder mask waves-effect icon-holder-user-btn"
      mdbWavesEffect
    >
      <mdb-icon class="" fas icon="user-alt"></mdb-icon>
    </div>
    <div class="md-form header-left-input">
      <input
        mdbInput
        type="text"
        id="searchBar-navBar"
        name="searchBar-navBar"
        [(ngModel)]="filtro"
        (ngModelChange)="startFilter($event)"
        class="form-control"
      />
      <label for="searchBar-navBar" class="">Pesquisar</label>
    </div>
  </div>
  <div class="header-right-container">
    <div
      class="icon-holder mask waves-effect rgba-white-slight"
      mdbWavesEffect
      (click)="openSideMenu()"
    >
      <mdb-icon fas icon="sliders-h"></mdb-icon>
    </div>
    <button
      mdbBtn
      type="button"
      mdbWavesEffect
      class="header-right-add-user-btn"
    >
      <mdb-icon fas icon="user-alt"></mdb-icon>
      Incluir Usuario
    </button>

    <div class="divisor"></div>

    <mdb-icon fas class="header-right-icon" icon="home"></mdb-icon>
    <mdb-icon fas class="header-right-icon" icon="cog"></mdb-icon>
    <mdb-icon fas class="header-right-icon" icon="power-off"></mdb-icon>
  </div>
</div>
<div *ngIf="isMobile" style="margin-bottom: 1em;">
  <!--Navbar-->
  <mdb-navbar
    SideClass="navbar navbar-1 navbar-light grey lighten-4"
    [containerInside]="false"
  >
    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <span class="navbar-brand">
        Dashboard
      </span>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light"
            mdbWavesEffect
            (click)="openSideMenu()"
          >
            <mdb-icon fas icon="sliders-h"></mdb-icon>
            Abrir Filtro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user-alt"></mdb-icon>
            Incluir Usuario
          </a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
          <input
            class="form-control mr-sm-2"
            name="searchBar-hamburguer"
            [(ngModel)]="filtro"
            (ngModelChange)="startFilter($event)"
            type="text"
            placeholder="Pesquisar"
          />
        </div>
      </form>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->
</div>
