<ag-grid-angular id='GridDimensionado' style="height: calc(60vh - 16px);width: 100%;" class="ag-theme-balham"
[gridOptions]="gridOptions">
</ag-grid-angular>

<div class="grid-controls" *ngIf="hasControl">
  <button type="button" class="grid-controls-button" (click)="goToGridPage('first')" mdbBtn color="light" mdbWavesEffect>
    Primeiro
  </button>
  <button type="button" class="grid-controls-button" (click)="goToGridPage('previous')" mdbBtn color="light" mdbWavesEffect>
    Anterior
  </button>
  <button type="button" class="grid-controls-button counter" mdbBtn mdbWavesEffect>
    {{GridPage.current + 1}}<!--  de {{ GridPage.total}} -->
  </button>
  <button type="button" class="grid-controls-button" (click)="goToGridPage('next')" mdbBtn color="light" mdbWavesEffect>
    Proximo
  </button>
  <button type="button" class="grid-controls-button" (click)="goToGridPage('last')" mdbBtn color="light" mdbWavesEffect>
    Ultimo
  </button>
</div>
