.grid-controls {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  .grid-controls-button{
    color: unset;
    &.counter{
      background-color: #d83367;
      border-radius: 10%;
      color: #f0b1c5;
      font-weight: bold;
    }
  }
}
