$color_1: rgba(0, 0, 0, 0.5);
$color_2: #ff4847;
$color_3: #93c913;
$font_family_1: "Open Sans";

.button-holder {
/*   position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 400px;
  height: 120px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  transform: scale(0.4);
  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ span {
        &:first-of-type {
          -webkit-transform: none;
          transform: none;
          box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.1),
            inset -2px 0 2px rgba(255, 255, 255, 0.05);
          &:before {
            color: $color_3;
            text-shadow: 0 0 24px rgba(147, 201, 19, 0.6);
          }
          &:after {
            opacity: 0;
          }
          i{
            color: $color_3;
          }
        }
        &:last-of-type {
          -webkit-transform: perspective(2000px) rotateY(-40deg);
          transform: perspective(2000px) rotateY(-40deg);
          box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.1),
            inset -4px 0 8px rgba(255, 255, 255, 0.1),
            inset -1px 0 0 rgba(255, 255, 255, 0.1),
            10px 0 8px rgba(40, 42, 44, 0.9), 20px 0 8px rgba(28, 29, 31, 0.7),
            30px 0 8px rgba(28, 29, 31, 0.4);
            i{
              color: white;
            }
          &:before {
            color: $color_1;
            text-shadow: 1px 4px 6px #1c1d1f, 0 0 0 #000, 1px 4px 6px #1c1d1f;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  span {
    position: absolute;
    top: 6px;
    display: block;
    width: 194px;
    height: 108px;
    background: #1c1d1f;
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: $font_family_1;
      font-weight: 800;
      font-size: 48px;
      -webkit-transition: text-shadow 800ms ease 100ms, color 800ms ease 100ms;
      transition: text-shadow 800ms ease 100ms, color 800ms ease 100ms;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 4px;
      height: 108px;
      background: -webkit-radial-gradient(
        center,
        ellipse,
        rgba(255, 255, 255, 0.5) 0%,
        transparent 50%
      );
      background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.5) 0%,
        transparent 50%
      );
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    &:first-of-type {
      left: 6px;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: perspective(2000px) rotateY(40deg);
      transform: perspective(2000px) rotateY(40deg);
      box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.1),
        inset 4px 0 8px rgba(255, 255, 255, 0.1),
        inset 1px 0 0 rgba(255, 255, 255, 0.1),
        -10px 0 8px rgba(40, 42, 44, 0.9), -20px 0 8px rgba(28, 29, 31, 0.7),
        -30px 0 8px rgba(28, 29, 31, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: white;
          font-size: 4rem;
        }
      &:before {
        /* content: "ON"; */
        color: $color_1;
        text-shadow: 1px 4px 6px #1c1d1f, 0 0 0 #000, 1px 4px 6px #1c1d1f;
      }
      &:after {
        left: -1px;
      }
    }
    &:last-of-type {
      right: 6px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: $color_2;
        font-size: 4rem;
      }
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.1),
        inset 2px 0 2px rgba(255, 255, 255, 0.05);
      &:before {
       /*   content: "OFF"; */
        color: $color_2;
        text-shadow: 0 0 24px rgba(255, 72, 71, 0.6);
      }
      &:after {
        right: -1px;
        opacity: 0;
      }
    }
  }
}
