.footer-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  .footer-left-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .footer-left-box-onair {
      color: #fe8700;
      width: 100%;
      .footer-left-box-onair-icon {
      }
      .footer-left-box-onair-text {
        margin-left: 10px;
      }
    }
    .footer-left-box-meeting {
      color: white;
      width: 100%;
    }
    .footer-left-box-update {
      color: white;
      width: 100%;
    }
  }
  .footer-right-box {
    width: 30%;
    .footer-right-box-clock {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
::ng-deep .panel-default {
  background-color: transparent !important;
}
