<div class="footer-holder">
<div class="footer-left-box">
  <div class="footer-left-box-onair">
    <mdb-icon fas icon="dot-circle" class="footer-left-box-onair-icon"></mdb-icon>
    <span class="footer-left-box-onair-text">No ar</span>
  </div>
<div class="footer-left-box-meeting">
  <mdb-icon fas icon="desktop"></mdb-icon>
<span>
  Encontro - 10:00
</span>
  </div>
  <div class="footer-left-box-update">
    <mdb-icon fas icon="redo-alt"></mdb-icon>
    Última atualização em {{lastUpdate}}
  </div>
</div>
<div class="footer-right-box">
  <div class="footer-right-box-clock">
<!--     <iframe id="relogio" width="125" height="40" src="https://relogioonline.com.br/embed/horario/#theme=1&ampm=0&showdate=0" frameborder="0" allowfullscreen></iframe>

 -->
    <iframe id="relogio" width="125" height="40" src="https://relogioonline.com.br/embed/#theme=1&ampm=0&showdate=0&sound=bells" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
</div>
