<div
  mdbModal
  #sideMenu="mdbModal"
  class="modal fade right"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="sideMenu.hide()"
        >
          <!-- <span aria-hidden="true">×</span> -->
          <mdb-icon fas icon="times"></mdb-icon>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">
          <mdb-icon fas icon="sliders-h"></mdb-icon>
          <span>
            Filtros
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <p style="font-style: italic;">
          Utilize os filtros abaixo para refinar os resultados da tabela. Clique
          no botão APLICAR para salvar as alterações
        </p>
      </div>
      <div class="modal-footer">      </div>
    </div>
  </div>
</div>
